*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins;
scroll-behavior:smooth;
}

body{
background:#0a0a0a;
color:white;
}

/* NAV */
header{
display:flex;
justify-content:space-between;
padding:20px 8%;
background:rgba(0,0,0,0.7);
position:sticky;
top:0;
backdrop-filter:blur(10px);
}

.logo{
color:gold;
font-weight:bold;
}

nav a{
color:#aaa;
margin-left:20px;
text-decoration:none;
}

nav a:hover{
color:gold;
}

/* HERO */
.hero{
text-align:center;
padding:100px 20px;
}

.profile{
width:170px;
border-radius:50%;
border:3px solid gold;
}

h1 span{
color:gold;
}

.typing{
color:#999;
margin:10px;
}

.hero-text{
color:#bbb;
max-width:600px;
margin:auto;
}

/* BUTTONS */
.btn{
background:gold;
color:black;
padding:12px 20px;
border-radius:10px;
text-decoration:none;
display:inline-block;
margin:5px;
font-weight:bold;
}

.btn.secondary{
background:#222;
color:white;
}

.btn.hire{
background:limegreen;
}

/* SECTIONS */
section{
padding:80px 10%;
}

h2{
text-align:center;
color:gold;
margin-bottom:30px;
}

/* GLASS */
.glass{
background:rgba(255,255,255,0.05);
padding:20px;
border-radius:15px;
text-align:center;
}

/* GRID */
.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
}

.card{
background:#141414;
padding:20px;
border-radius:12px;
text-align:center;
transition:0.3s;
border:1px solid #222;
}

.card:hover{
transform:translateY(-10px);
border-color:gold;
}

/* MODAL */
.modal{
display:none;
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.8);
justify-content:center;
align-items:center;
}

.modal-content{
background:#111;
width:80%;
height:80%;
padding:20px;
position:relative;
}

.modal iframe{
width:100%;
height:90%;
}

.close{
position:absolute;
top:10px;
right:15px;
font-size:25px;
cursor:pointer;
}

/* CHAT */
.chat-bubble{
position:fixed;
bottom:20px;
right:20px;
background:gold;
padding:15px;
border-radius:50%;
cursor:pointer;
}

.chat-box{
position:fixed;
bottom:80px;
right:20px;
width:260px;
height:320px;
background:#111;
display:flex;
flex-direction:column;
}

.hidden{
display:none;
}

.chat-header{
background:gold;
color:black;
padding:10px;
display:flex;
justify-content:space-between;
}

.chat-messages{
flex:1;
overflow:auto;
padding:10px;
}

#chatInput{
padding:10px;
border:none;
outline:none;
}
body{
background: radial-gradient(circle at top, #111, #000);
}

/* FAANG glow buttons */
.btn{
box-shadow:0 0 15px rgba(255,215,0,0.2);
transition:0.3s;
}

.btn:hover{
transform:translateY(-3px);
box-shadow:0 0 25px rgba(255,215,0,0.4);
}

/* reveal animation */
.reveal{
opacity:0;
transform:translateY(40px);
transition:0.8s ease;
}

.reveal.active{
opacity:1;
transform:translateY(0);
}